<f:variable name="contentAlignment" value="{site.settings.all.style.contentAlignment}"/>

<div class="project-list section">
    <div class="container">
        <div class="col sm-12 md-10 md-offset-1 lg-7 lg-offset-2 xl-8 xl-offset-2">
            <f:render partial="Content/Molecules/HeadlineCopytext" arguments="{
                headline: data.header,
                headlineTag: data.header_layout,
                headlinePosition: '{f:if(condition: \'{contentAlignment} == center\', then: \'center\', else: data.header_position)}',
                subheadline: data.subheader,
                bodytext: data.bodytext
            }"/>
        </div>
        
        <div class="row">
            <f:for each="{projects}" as="project">
                <div class="col sm-12 md-6 lg-4">
                    <f:render partial="Content/Atoms/Card" arguments="{
                        title: project.data.title,
                        description: project.data.description,
                        showReadMore: project.data.show_detail_page,
                        link: project.data,
                        project: project.data.uid,
                        detailPid: detailPid
                    }"/>
                </div>
            </f:for>
        </div>

        <f:if condition="{data.link}">
            <f:render partial="Content/Atoms/Button" arguments="{
                label: data.link_text,
                link: data.link
            }" />
        </f:if>
    </div>
</div>


