<div class="project-list section">
    <div class="container">
        <h1>{data.header}</h1>
        <p>{data.subheader}</p>
        <f:link.typolink parameter="{data.link}">{data.link_text}</f:link.typolink>
        
        <div class="row">
            <f:for each="{projects}" as="project">
                <f:render partial="Content/Atoms/Card" arguments="{
                    title: project.data.title,
                    description: project.data.description,
                    showReadMore: project.data.show_detail_page,
                    link: project.data,
                    project: project.data.uid,
                    detailPid: detailPid
                }"/>
            </f:for>
        </div>
    </div>
</div>


