<section class="section ce-resume">
    <div class="container">
        <div class="row">
            <f:if condition="{resume_items.0} && {additional_resume_items.0}">
                <f:then>
                    <div class="col sm-12 md-offset-1 md-5 lg-offset-2 lg-4">
                        <f:render section="RowContent" arguments="{
                            headline: data.header,
                            list: resume_items
                        }" />
                    </div>
                    <div class="col sm-12 md-5 lg-4">
                        <f:render section="RowContent" arguments="{
                            headline: data.additional_header,
                            list: additional_resume_items
                        }" />
                    </div>
                </f:then>
                <f:else>
                    <div class="col sm-12 md-offset-2 md-10 lg-offset-2 lg-8 xl-offset-3 xl-6">
                        <f:if condition="{resume_items.0}">
                            <f:then>
                                <f:render section="RowContent" arguments="{
                                    headline: data.header,
                                    list: resume_items
                                }" />
                            </f:then>
                            <f:else>
                                <f:render section="RowContent" arguments="{
                                    headline: data.additional_header,
                                    list: additional_resume_items
                                }" />
                            </f:else>
                        </f:if>

                    </div>
                </f:else>
            </f:if>
        </div>
    </div>
</section>

<f:section name="RowContent">
    <div class="ce-resume__header">
        <f:render partial="Content/Atoms/Headline" arguments="{
            headline: headline
        }" />
    </div>
    <div class="ce-resume__list">
        <f:render partial="Content/Molecules/DefinitionList" arguments="{
            list: list
        }" />
    </div>
</f:section>
