
    <ul>
        <f:for each="{projects}" as="project">
            <li>
                <f:if condition="{project.showDetailPage}">
                    <f:then>
                        <f:link.action action="show" arguments="{project: project}" style="color: white;">
                            {project.title}<br>
                        </f:link.action>
                    </f:then>
                    <f:else>
                        {project.title}<br>
                    </f:else>
                </f:if>
            </li>
        </f:for>
    </ul>
